extends layout
block content
  h1= title
  form(id='ArtWorkForm', action="/resource/artworks", method="POST")
    div.form-group
      label.costumeAttr(for='costume_type') Artwork type
      input#costume_type(type='text', name='costume_type')
    div.form-group
      label.costumeAttr(for='size') Artwork size
      input#size(type='text', name='size')
    div.form-group
      label.costumeAttr(for='cost') Artwork cost
      input#cost(type='number', name='cost')
    input(type="submit")
    script.
      document.forms['ArtWorkForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("ArtWork saved successfully");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed: " + error);
        });
      });
