extends layout

block content
  h1= title

  - var image_names = ["art1.jpg","art1.jpg","art3.jpg","art4.jpg","art5.jpg"];
  - for(i=0;i<3;i++) {
     - var randNum = Math.floor(Math.random()*5) ;
     img(src=`./images/${image_names[randNum]}` alt=`img${image_names[randNum]}` style='width:300px; height:300px;')

  -}